body {
    padding: 0px;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #333a3f;
    background-color: #f2f2f2;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    max-width: 1356px;
    min-width: 320px;
    margin: 0 auto;
}

button {
    min-width: 20px;
}

#root {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    margin: 5px;
    text-align: center;
}

ul {
    padding: 0px;
    list-style: none;
}

#stats-bar {
    display: flex;
    border-top: 2px solid #333a3f;
    border-bottom: 2px solid #333a3f;
    padding: 0px;
    margin: 0px;
}

#stats-bar > ul {
    display: flex;
    place-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#stats-bar li {
    margin-left: 5px;
}

#attack-bonus-li {
    display: flex;
    min-width: 145px;
}

#attack-bonus-li button {
    margin-left: 5px;
}

#level-li {
    display: flex;
}

#level-li > button {
    margin-left: 5px;
    margin-right: 5px;
}

.info-div {
    display: flex;
    width: 375px;
    flex-direction: column;
    min-height: 320px;
    max-height: 355px;
}

.info-div > ul {
    margin-left: 5px;
    padding: 0px;
}

#sections {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.bottom-border {
    border-bottom: 1px solid #333a3f;
}

.right-border {
    border-right: 1px solid #333a3f;
}

.key-span {
    font-weight: bold;
    margin-right: 10px;
    min-width: 70px;
}

#ability-scores li {
    display: flex;
    padding: 0px;
    justify-content: space-between;
    margin-right: 5px;
    min-width: 125px;
    max-width: 125px;
}

#ability-scores button {
    margin-left: 5px;
}

#ability-spans {
    display: flex;
    justify-content: space-between;
    min-width: 80px;
}

#perm-spells li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#items li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#roll-btn {
    margin-bottom: 5px;
    width: fit-content;
    place-self: center;
    font-size: medium;
}

#rando-spell h2 {
    display: flex;
    place-items: center;
}

#rando-spell button {
    margin-left: 5px;
}
